@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
/* .content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020; 
}*/


/* book -now */
#Book-now{
  background: url("https://i.pinimg.com/564x/fc/78/65/fc7865892a474c1905ada537e570cad8.jpg");
  background-repeat: no-repeat;
 background-size: 100%;
}
.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Lato', sans-serif;
}

.booking-form {
	max-width: 586px;
	width: 100%;
	margin: auto;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 0px;
}

.booking-form>form .row.no-margin {
	margin-right: 0px;
	margin-left: 0px;
}

.booking-form>form .row.no-margin [class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 80px;
	padding: 25px 20px 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #0e2753;
	border: 1px solid #dddee9;
	border-bottom: 0px;
	font-size: 20px;
	font-weight: 700;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form [class*="col-"]+[class*="col-"] .form-group .form-control {
	border-left: 0px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #dddee9;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #dddee9;
}

.booking-form .form-control::placeholder {
	color: #dddee9;
}

.booking-form .form-control:focus {
	background: #f9f9f9;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.booking-form input[type="date"].form-control:invalid {
	color: #dddee9;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: #dddee9;
}

.booking-form select.form-control option {
	color: #0e2753;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #dddee9;
	font-size: 20px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	position: absolute;
	left: 20px;
	top: 10px;
	color: #f14634;
	font-weight: 400;
	line-height: 24px;
	font-style: italic;
	height: 24px;
	font-size: 14px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #f14634;
	font-weight: 700;
	height: 80px;
	font-size: 18px;
	text-transform: capitalize;
	border: none;
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.booking-form [class*="col-"]+[class*="col-"] .form-group .form-control {
		border-left: 1px solid #dddee9;
	}
}
/* end book-now */

footer {
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;

  background: #5b32ab;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #5b32ab;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #5b32ab;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #30089e;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;

  background: #5b32ab;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

.container{
    /* display: flex; */
    width: 100%;
    height: 50px;
    background-color: #30089e;
}